
.calc{
    position: absolute;
    margin: 0;
    height: 90%;
    width: 90%;
    display: grid;
    grid-template-rows: 20% auto;
}

.display{
    text-align: right;
    font-size: 10vh;
}

.button-container{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}